<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/all.css" />        
        <link rel="stylesheet" href="/css/loginPage.css">
        <link rel="stylesheet" href="/css/createQuiz.css">
        <link rel="stylesheet" href="/css/savedQuizPage.css">
        <link rel="stylesheet" href="/css/navbar.css">
    </head>
    <body>
