<% include ./partials/header %>

<!-- start the navbar -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/teacher/create-quiz">Create Quiz</a>
    <a class="navbar-brand" href="/teacher/saved-quiz">Saved Quiz</a>
    <a class="navbar-brand" href="/teacher/published-quiz">Published Quiz</a>
    <a class="navbar-brand" href="/user/logout">Logout</a>
</nav>
<!-- end the navbar -->


<div class="col-sm-12">
    <div class="row">
<% if(quizzes.length > 0){ %>
    <% quizzes.forEach((quiz,index) => { %>
        
        <div class="card col-sm-12 col-md-4 offset-md-1 mb-3 mt-3 savedQuiz">
            <div class="card-body">
                <h5 class="card-title">Quiz (<%= index+1 %>)</h5>
                <p class="card-text">(<%= quiz.questions.length %>) Questions</p>
                <a href="/teacher/publish-quiz-page/<%= quiz._id %>" class="btn btn-success">Details</a>
            </div>
        </div>
        
    <% }) %>

<% }else{ %>
    <h1>No Quizzes Published Yet</h1>
    <% } %>
    </div>
</div>



<% include ./partials/footer %>

